.navContainer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  color: blueviolet;
  font-weight: 600;
  background-color: rgb(185, 242, 188);
  padding: 10px;
}

.list {
  letter-spacing: 1px;
  padding: 10px;
}

.list:hover {
  border: 2px solid blueviolet;
  font-weight: 800;
  cursor: pointer;
}
